@import url('https://fonts.googleapis.com/css?family=Grenze&display=swap');
#ul {
  position: relative;
  background-image: linear-gradient(to bottom right, #31395F, #495baa);
    list-style: none;
    margin: 0;
    padding-left: 0;
}
/* .container{
  display: flex;
  flex: 1 1 auto;
  flex-direction: row ;
} */
ul img{
  float: left;
  width: auto;
  margin-top :0.9%;
  margin-right: 2%;
}
li {
    color: #fff;
    font-family: 'Grenze', serif;
    font-size: 15px;
    display: block;
    float: left;
    padding: 1rem;
    position: relative;
    text-decoration: none;
    top :0px;
} 

.topNav{
  padding: 0px;
  margin-left: 2%;
}
.topNavRight{
  text-align: center;
  float: right;
  padding: 0.8%;
  margin-left: 2%;
  margin-right: 2%;
  background: #4caf50;
}
li a {
  display:block;
  text-decoration: none;
  color: #fff;
}

li:hover {
  transition: 0.5s;
    background: #ddd;
    cursor: pointer;
}

ul li ul {
  background: #3D4A85;
  visibility: hidden;
  opacity: 0;
  min-width: 5rem;
  position: absolute;
  transition: all 0.5s ease;
  margin-top: 1rem;
  left: 0;
  display: none;
}

ul li:hover > ul,
ul li:focus-within > ul,
ul li ul:hover,
ul li ul:focus {
  visibility: visible;
  opacity: 1;
  display: block;
}

ul li ul li {
    clear: both;
  width: 100%;
}
.dropdown{
  z-index: 3;
  margin-top:0px;
  padding-right: 20px;
}
.dropdownRight{
  text-align: center;
  left:0; 
  margin-right: 10%;
  z-index: 3;
  margin-top:0px;
}  
.startRight{
  left:auto;
  right:0;
  margin-right:-10px;
}  
.Connection p{
  margin:10%;
}
.topLink{
  padding:10px 10px 10px 10px;
  display: block;
}
.topLink:hover{
  color: black;
}

.startRight li {
  background: #495baa;
  cursor: default;
  
}
.startRight a:hover {
  background: #ddd;
  color: black;
}

.TopBar {
  position: absolute;
  left: 0;
  width: 100%;
  background-image: linear-gradient(to bottom right, #31395F, #495baa);
  color: white;
  text-align: left;
  z-index: 9000;
  
}
.TopBar .logo {
  top:0.5%;
  left: 0.5%  ;
  position: relative;
  width: 13%;
  transition: 0.5s;
}

.sticky {
  position: fixed;
  width: 100%;

}

.ArrowList{
  font-size: 10px;
  display: inline;
}
li:hover .ArrowList{
  transition-duration: 1s;
  opacity: 0;
}
.imageRS{
  width:20px;
  height:20px;
  top: 0px;
  margin-top: 5px;
}


