.FormContact {
  display: flex;
  align-items: center;
  justify-content: center;
  z-index: 1000;
}

.FormContact textarea {
  display: inline-flex ;
  align-items: center;
  justify-content: center;
  resize: none;
  max-height: 200px;
  max-width: 250px;
}

.FormContact fieldset {
  text-align: center;
  margin : 10%;
  padding:10%;
  background-color: #31395F;
}

.FormContact input {
  width: 230px;
}

.FormContact legend {
  color: white;
  font-size: 30px;
  border-radius: 5px;
  background-color: #31395F;
}

.FormContact label {
  color: white;
  font-size: 20px;
}

#answers input[type="text"],
input[type="submit"],
input[type="password"],
input[type="date"] {
  display: inline-flex ;
  align-items: center;
  justify-content: center;
  text-align: center;
}

#dropdownform input[type="text"] {
  text-align: center;
}

.FormContact input[type="submit"] {
  color: white;
  background-color: #31395F;
  height: 30px;
  border: 2px solid white;
}

.FormContact input[type="submit"]:hover {
  background-color: #ddd;
  color: #31395F;
  height: 30px;
}
#message {
  font-size: 20px;
  text-align: center;
}

#box {
  position: absolute;
  width: 300px;
  margin-left: 42.5%;
  background-color: #ffffff;
  border: 1px solid black;
  opacity: 0.6;
  filter: alpha(opacity=60); /* For IE8 and earlier */
}

#box p {
  margin: 5%;
  font-weight: bold;
  color: #000000;
}
